In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('bmw_income_statement.csv',skiprows=1)

In [9]:
df.columns[0]

'Fiscal year ends in December. EUR in millions except per share data.'

In [13]:
if 'EUR' in df.columns[0]:
    print 'EUR'
if 'USD' in df.columns[0]:
    print 'USD'

EUR

In [11]:
df = pd.read_csv('MUV2_income_statement.csv',skiprows=1)

In [12]:
df

,Fiscal year ends in December. EUR in millions except per share data.,2011-12,2012-12,2013-12,2014-12,2015-12,TTM
0,Revenues,NaN,NaN,NaN,NaN,NaN,NaN
1,Premiums,47412.00,50499.00,49172.0,47384.00,48309.00,47176.00
2,"Investment income, net",6756.00,8436.00,13196.0,NaN,NaN,NaN
3,Other income (loss),6740.00,7797.00,7546.0,8250.00,7676.00,7735.00
4,Total revenues,60908.00,66732.00,69914.0,55634.00,55985.00,54911.00
5,"Benefits, claims and expenses",NaN,NaN,NaN,NaN,NaN,NaN
6,Policyholder benefits and claims incurred,41034.00,40991.00,39590.0,39693.00,38731.00,37922.00
7,"Selling, general and administrative",5897.00,6918.00,NaN,NaN,NaN,NaN
8,Interest expense,288.00,NaN,NaN,NaN,236.00,NaN
9,Other expenses,12509.00,13473.00,25915.0,11913.00,12199.00,12360.00
10,"Total benefits, claims and expenses",59728.00,61382.00,65505.0,51606.00,51166.00,50282.00
11,Income before income taxes,1180.00,5350.00,4409.0,4028.00,4819.00,4629.00
12,Income tax (expense) benefit,552.00,-866.00,-108.0,312.00,-476.00,-798.00
13,Other income (expense),-1020.00,-1289.00,-988.0,-1187.00,-1236.00,-1014.00
14,Net income,712.00,3195.00,3313.0,3153.00,3107.00,2817.00
15,Preferred dividend,10.00,NaN,NaN,NaN,NaN,NaN
16,Net income available to common shareholders,702.00,3195.00,3313.0,3153.00,3107.00,2817.00
17,Earnings per share,NaN,NaN,NaN,NaN,NaN,NaN
18,Basic,3.94,17.98,18.5,18.31,18.73,17.44
19,Diluted,3.94,17.98,18.5,18.31,18.73,17.44
20,Weighted average shares outstanding,NaN,NaN,NaN,NaN,NaN,NaN
21,Basic,178.00,178.00,179.0,172.00,166.00,NaN
22,Diluted,178.00,178.00,179.0,172.00,166.00,NaN